.proposal-row-gray {
    background: #dddddd;
    color: #666666;
}

.proposal-row-yellow {
    background: #fffaf3;
    color: #573a08;
}

.proposal-row-green {
    background: #fcfff5;
    color: #2c662d;
}
