:root {
    --timeline-element-height: 5em;
}

.admin-menu {
    width: 100%;
}

.action-bar {
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-bar.proposal-row-yellow {
    border: 1px #573a08 solid;
    grid-column: span 2 / auto;
}

.action-bar.proposal-row-red {
    border: 1px #9f3a38 solid;
    grid-column: span 2 / auto;
}
.action-bar.proposal-row-green {
    border: 1px #2c662d solid;
}

.action-bar-text {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.actions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--timeline-element-height), 1fr));
    grid-auto-rows: var(--timeline-element-height);
    gap: 1rem;
}

.tabular.menu {    
    overflow-y: hidden;
    overflow-x: auto;
}

.submission-errors {
    color: red;
}

.announcement-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25em
}

.announcement {
    width: 100%;
    background-color: #FDD6A1;
    border-radius: 0.5em;
    padding: 0.5em;
}
