#footer {
    min-height: var(--footer-height);
    background-color: white;  /* Light mode background */
    color: black;             /* Light mode text */
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: left;
}

#bringMeDown {
    margin-bottom: 0px;
    padding-top: 1.5em;
}

#bringMeDownSignedIn {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
}

#version {
    text-align: right;
}

#copyright {
    text-align: left;
}

/* Dark Mode Styles */
.dark-mode #footer {
    background-color: #1e1e1e; 
    color: #e0e0e0;          
}
