#header {
  height: var(--header-height);
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #f76902;
  transition: background-color 0.3s ease;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: color 0.3s ease;
}

#subHeader {
  font-weight: bold;
  text-transform: uppercase;
}

/* Dark Mode Styles */
.dark-mode #header {
  background-color: #333;
}

.dark-mode #header .container,
.dark-mode #subHeader {
  color: #e0e0e0;
}

@media only screen and (max-width: 768px) {
  #nav-buttons {
    display: none;
  }
  #hamburger-menu {
    display: block;
  }
}

/* @media only screen and (max-device-width: 768px) {
  #nav-buttons {
    display: none;
  }
} */

@media only screen and (min-width: 769px) {
  #hamburger-menu {
    display: none;
  }
  #nav-buttons {
    display: inline-flex;
  }
}

/* @media only screen and (min-device-width: 769px) {
  #hamburger-menu {
    display: none;
  }
} */
