:root {
    --header-height: 6em;
    --footer-height: 12em;
    --page-padding: 1.5em;
}

#page {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--page-padding) - var(--page-padding));
    margin: var(--page-padding) 0 var(--page-padding) 0;
}

.overviewText {
    font-size: 16pt;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.accordion-button-group {
    display: flex;
}

.accordion-button-group .accordion-buttons-container {
    position: absolute;
    right: 1em;
    margin: 2px 1em !important;
}

.accordion-buttons-container > * {
    margin: 0 0 0 0 !important;
    border-radius: 0 !important;
}

.accordion-buttons-container :first-child {
    margin: 0 0 0 0 !important;
    border-top-left-radius: 0.28571429rem!important;
    border-bottom-left-radius: 0.28571429rem!important;
}

.accordion-buttons-container :last-child {
    margin: 0 0 0 0 !important;
    border-top-right-radius: 0.28571429rem !important;
    border-bottom-right-radius: 0.28571429rem !important;
}
