#mainHeader {
    color: white;
}

#subHeader {
    color:rgb(218, 218, 218); 
    font-weight: 600;
}

p {
    font-size: 14pt;
}

form p {
    font-size: 12pt;
}

.ui.accordion li {
    font-size: 14pt;
    padding: 5px;
    line-height: 1.5em;
}

.ui.radio.checkbox label {
    font-weight: bold;
}

.ui.accordion .title {
    font-size: 14pt !important;
}

label {
    font-size: 12pt !important;
}

textarea {
    font-size: 12pt !important;
}

input {
    font-size: 12pt !important;
}