@import "./../base/variables.css";

#footer {
  min-height: var(--header-footer-height);
  background-color: var(--bg-footer);
  color: white;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: left;
}

#bringMeDown {
  margin-bottom: 0px;
  padding-top: 1.5em;
}

#bringMeDownSignedIn {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
}

#version {
  text-align: right;
}

#footer {
  text-align: left;
}

#copyright {
  text-align: left;
}

/* Dark Mode Styles */
.dark-mode #footer {
  background-color: var(--bg-footer-header);
  color: var(--bg-primary);
}


.footer-college-logo{
  max-width: 200px;
  width: 100%;
  height: auto;
}