.admin-button {
  float: right;
}

.admin-text {
  font-size: 0.9em;
  color: #999;
  margin-top: 2px;
}

.admin-status-message {
  float: left;
}

body.dark-mode .ui.tabular.menu {
  scrollbar-color: var(--text-primary) var(--bg-primary);
}

body.dark-mode .ui.tabular.menu::-webkit-scrollbar {
  height: 6px;
}

body.dark-mode .ui.tabular.menu::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
