@import "./../base/variables.css";

/* Header Responsive styles */
@media only screen and (max-width: 768px) {
  #nav-buttons {
    display: none;
  }

  #hamburger-menu {
    display: block;
  }
}

/* @media only screen and (max-device-width: 768px) {
    #nav-buttons {
      display: none;
    }
  } */

@media only screen and (min-width: 769px) {
  #hamburger-menu {
    display: none;
  }

  #nav-buttons {
    display: inline-flex;
  }
}

/* @media only screen and (min-device-width: 769px) {
    #hamburger-menu {
      display: none;
    }
  } */

/* Calendar Responsive styles */
@media (max-width: 768px) {
  .calendar-day,
  .calendar-day.empty {
    height: 80px;
  }

  .current-month {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .calendar-header {
    padding: 12px;
  }

  .current-month {
    font-size: 1rem;
  }

  .nav-button {
    width: 28px;
    height: 28px;
    font-size: 1rem;
  }

  .calendar-days-header {
    padding: 6px 0;
  }

  .day-name {
    font-size: 0.75rem;
  }

  .calendar-grid {
    padding: 6px;
  }

  .day-number {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .calendar-day,
  .calendar-day.empty {
    height: 60px;
    margin: 1px;
  }

  .day-name {
    font-size: 0.7rem;
  }

  .day-number {
    font-size: 0.7rem;
  }
}

/* Responsive table wrapper making tables scrolllable for mobile */

.responsive-table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.responsive-table-wrapper table {
  min-width: 700px;
}

/* Added dark mode scrollbar visibility rn since that keeps making things difficult */
body.dark-mode .responsive-table-wrapper {
  scrollbar-color: var(--text-primary) var(--bg-primary);
}

body.dark-mode .responsive-table-wrapper::-webkit-scrollbar {
  height: 6px;
}

body.dark-mode .responsive-table-wrapper::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body.dark-mode .responsive-table-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--text-primary);
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .ui.table.stackable-hide-header:not(.unstackable) thead {
    display: none !important;
  }
}

.mobile-only-label {
  display: none;
}

@media only screen and (max-width: 767px) {
  .stackable-hide-header .mobile-only-label {
    display: inline;
  }
}
