.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.page-title {
    font-size: 50px;
    font-weight: 550;
    color: black;
}

.page-title--orange {
    color: #F76902;
}

.dropdown {
    color: #F76902 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    text-align: center;
}

.dropdown:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.search-bar input {
    border: 1px solid #7C878E !important;
    border-radius: 0 !important;
    font-size: 15px;
    width: 310px;
    height: 40px;
}

.search-bar .ui.button {
    background-color: #F76902;
    border-radius: 0 !important;
    color: white;
    width: 80px;
    height: 40px;
    font-size: 15px;
    justify-content: center;
}