.stack-trace-error-page{
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.stack-trace-error-color{
    color: var(--action-bar-proposal-red);
}

.stack-trace-error-info{
    background: var(--bg-secondary);
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

.stack-trace-error-detail{
    margin-top: 10px;
}

.stack-trace-error-detail-summary{
    cursor: pointer;
    font-weight: bold;
    color: var(--text-primary);
}

.stack-trace-error-detail-summary2{
    white-space: pre-wrap;
    word-break: break-word;
    background: var(--bg-secondary);
    padding: 10px;
    border-radius: 5px;
}

.stack-trace-error-detail-div{
    margin-top: 20px;
}

.stack-trace-error-detail-p{
    font-size: 14px;
    color: var(--action-bar-proposal-red);
}

.stack-trace-error-userfeedback{
    margin-top: 14px;
    color: var(--action-bar-proposal-green);
}