.unique-project-page-profile {
  display: flex;
  gap: 0.5em;
  width: 100%;
  flex-wrap: wrap;
}

.unique-project-direction {
  float: right;
}

.unique-project-zoom {
  cursor: zoom-in;
  padding: 5px;
}

.unique-project-whitespace {
  white-space: pre-line;
}

.unique-project-media {
  height: 250px;
}
