.action-table {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.action-profile {
  margin-left: 4px;
}

.action-row-highlight {
  background: var(--bg-inprogress-action);
  font-weight: bold;
}

.accordion-buttons-container-static {
  position: initial;
}

.action-pop {
  z-index: 100;
}
