

.weeklyhour-icon{
    width: 170px;
    margin-left: 83%;
}

.weeklyhour-header{
    text-align: center;
}

.weeklyhour-segment{
    overflow: auto;
    max-width: 100%;
}

.weeklyhour-table-cell{
    display: flex;
    align-items: center;
}
.weeklyhour-table{
    position: relative;
    background: none;
    padding: 0;
}

.weeklyhour{
    position: relative;
    z-index: 1;
    padding: 0.5em;
    text-align: center;
}